{% extends "base2.html" %}
{% block content %}
</nav> 
</header>
<body>
  <div class="service_container">
    <h2>Список предоставляемых услуг</h2>
    <div class="service">
      <h3>Малоинвазивные вмешательства</h3>
      <div class="service_item">
        <div class="title-service">
            <h4>Введение внутриматочной спирали вместе со стоимостью контрацептива (простое, с медным или золотым стержнем)</h4>
        </div>  
        <div class="price-service">
            <p>5000 ₽</p>
        </div>
      </div>
      <div class="service_item">
        <div class="title-service">
            <h4>Удаление внутриматочного контрацептива (технически простое/технически сложное)</h4>
        </div>  
        <div class="price-service">
            <p>2500 ₽</p>
        </div>
      </div>
      <div class="service_item">
        <div class="title-service">
            <h4>Эхосальпингоскопия (ультразвуковое исследование проходимости маточных труб)</h4>
        </div>  
        <div class="price-service">
            <p>6500 ₽</p>
        </div>
      </div>
      <div class="service_item">
        <div class="title-service">
            <h4>Гистероскопия. Инструментальное диагностическо-лечебное выскабливание слизистой цервикального канала и матки </h4>
        </div>  
        <div class="price-service">
            <p>6500 ₽</p>
        </div>
      </div>
      <div class="service_item">
        <div class="title-service">
            <h4>Полипэктомия цервикального канала/полости матки, гистологическое исследование </h4>
        </div>  
        <div class="price-service">
            <p>6500 ₽</p>
        </div>
      </div>
      <div class="service_item">
        <div class="title-service">
            <h4>Вагинальный нитевой лифтинг </h4>
        </div>  
        <div class="price-service">
            <p>40000 ₽</p>
        </div>
      </div>
      <div class="service_item">
        <div class="title-service">
            <h4>Введение филеров для контурной пластики наружных половых органов </h4>
        </div>  
        <div class="price-service">
            <p>6000 ₽</p>
        </div>
      </div>
      <div class="service_item">
        <div class="title-service">
            <h4>Лечение кисты/абцеса бартолиновой железы</h4>
        </div>  
        <div class="price-service">
            <p>12800 ₽</p>
        </div>
      </div>
      <h3>Лечение шейки матки</h3>
      <div class="service_item">
        <div class="title-service">
            <h4>Кольпоскопия (простая/расширенная)</h4>
        </div>  
        <div class="price-service">
            <p>1200 ₽</p>
        </div>
      </div>
      <div class="service_item">
        <div class="title-service">
            <h4>Радиоволновая коагуляция шейки матки</h4>
        </div>  
        <div class="price-service">
            <p>1500 ₽</p>
        </div>
      </div>  
      <div class="service_item">
        <div class="title-service">
            <h4>Радиоволновая конизация шейки матки (местная анестезия, гистологическое исследование)</h4>
        </div>  
        <div class="price-service">
            <p>3500 ₽</p>
        </div>
      </div>  
      <div class="service_item">
        <div class="title-service">
            <h4>Радиоволновая конизация шейки матки (в\в общая анестезия, гистологическое исследование)</h4>
        </div>  
        <div class="price-service">
            <p>6500 ₽</p>
        </div>
      </div>
      <div class="service_item">
        <div class="title-service">
            <h4>Радиоволновая коагуляция кондилом (половых бородавок) (1 единица)</h4>
        </div>  
        <div class="price-service">
            <p>250 ₽</p>
        </div>
      </div>
      <div class="service_item">
        <div class="title-service">
            <h4>Химическая (лекарственная) коагуляция кондилом (половых бородавок) (1 единица)</h4>
        </div>
        <div class="price-service">
            <p>250 ₽</p>
        </div> 
      </div>  
      <h3>Физиотерапия</h3>
      <div class="service_item">
        <div class="title-service">
            <h4>Лазеротерапия (1 сеанс, по точкам акупунктуры)</h4>
        </div>  
        <div class="price-service">
            <p>450 ₽</p>
        </div>
      </div>
      <div class="service_item">
        <div class="title-service">
            <h4>Ионофорез (1 сеанс)</h4>
        </div>  
        <div class="price-service">
            <p>200 ₽</p>
        </div>
      </div>
      <div class="service_item">
        <div class="title-service">
            <h4>Ультразвуковая терапия (1 сеанс)</h4>
        </div>  
        <div class="price-service">
            <p>300 ₽</p>
        </div>
      </div>
      <div class="service_item">
        <div class="title-service">
            <h4>Гелийнеоновый лазер</h4>
        </div>  
        <div class="price-service">
            <p>250 ₽</p>
        </div>
      </div>
      <div class="service_item">
        <div class="title-service">
            <h4>Гальванопелоидотерапия (1 сеанс)</h4>
        </div>  
        <div class="price-service">
            <p>450 ₽</p>
        </div>
      </div>
      <h3>Прием врача акушера-гинеколога</h3>
      <div class="service_item">
        <div class="title-service">
            <h4>Прием доктора медицинских наук, профессора</h4>
        </div>  
        <div class="price-service">
            <p>2000 ₽</p>
        </div>
      </div>
      <div class="service_item">
        <div class="title-service">
            <h4>Повторный прием доктора медицинских наук, профессора</h4>
        </div>  
        <div class="price-service">
            <p>1300 ₽</p>
        </div>
      </div>
      <div class="service_item">
        <div class="title-service">
            <h4>Прием врача первичный</h4>
        </div>  
        <div class="price-service">
            <p>1550 ₽</p>
        </div>
      </div>
      <div class="service_item">
        <div class="title-service">
            <h4>Прием врача повторный в течение 1 мес.</h4>
        </div>  
        <div class="price-service">
            <p>1250 ₽</p>
        </div>
      </div>
      <h3>Манипуляции</h3>
      <div class="service_item">
        <div class="title-service">
            <h4>Гинекологический массаж</h4>
        </div>  
        <div class="price-service">
            <p>750 ₽</p>
        </div>
      </div>
      <div class="service_item">
        <div class="title-service">
            <h4>Лечение лактостаза (комплексная терапия на 5 дней)</h4>
        </div>  
        <div class="price-service">
            <p>18500 ₽</p>
        </div>
      </div>
      <div class="service_item">
        <div class="title-service">
            <h4>Подбор и введение гинекологического или акушерского пессария со стоимостью препарата</h4>
        </div>  
        <div class="price-service">
            <p>2500 ₽</p>
        </div>
      </div>
      <h3>Акушерство и гинекология</h3>
      <div class="service_item">
        <div class="title-service">
            <h4>Процедуры лазерной терапии на аппарате MAGIC GYNO</h4>
        </div>  
        <div class="price-service">
            <p>15000 ₽</p>
        </div>
      </div>
      <div class="service_item">
        <div class="title-service">
            <h4>Медикаментозное прерывание беременности</h4>
        </div>  
        <div class="price-service">
            <p>8500 ₽</p>
        </div>
      </div>
      <h3>Ультразвуковое исследование</h3>
      <div class="service_item">
        <div class="title-service">
            <h4>УЗИ детям и взрослым</h4>
        </div>  
        <div class="price-service">
            <p>500 ₽</p>
        </div>
      </div>
    </div>
  </div>





  <script src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
{% endblock %}