{% extends "base2.html" %}
{% load static %}
{% block title %}
  Нормед
{% endblock %}
{% block content %}
<div class="about_us"><cite>Клиника профессора Синчихина — это сочетание высокого профессионализма специалистов с современными методами диагностики и лечения, направленных на здоровье и благополучие каждой женщины. Мы заботимся о каждой пациентке и стремимся сделать лечение не только эффективным, но и комфортным. Доверьте свое здоровье профессионалам, которые знают, как сохранить и приумножить его!</cite></div>
<div class="page_photo">
  <img src="{% static 'img/team.jpg' %}" alt="">
</div>
<div class="last_news">
  <div class="news"></div>
  <a href="" class="all_news"></a>
</div>
{% endblock %}